<form ation ="/process" method="POST">

    <label for="firstName">First Name</label>
    <input type="firstName" name="firstName"> <br>

    <label for="lastName">Last Name</label>
    <input type="lastName" name="lastName"> <br>

    <label for="phoneNo">Phone Number</label>
    <input type="phoneNo" name="phoneNo"> <br>

    <label for="message">Message</label>
    <input type="message" id="message"> <br>

    <input type="submit" value="contact us">


</form>